.color-red {
  color: red;
}

.buffer-top {
  padding-top: 25px;
}

.buffer-left {
  padding-left: 10px;
}

.buffer-bot {
  padding-bottom: 10px;
}

.result-table {
  width: 500px; /* Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

.result-table th {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: #DBDBDB solid 1px;; /* Параметры рамки */
  background: #FFFFFF; /* Цвет фона */
}


